.page-content {
  height: calc(100vh - var(--navbar-height));
  margin-top: var(--navbar-height);
  margin-left: var(--sidebar-width);
  display: flex;
  background: #eeeeee;

  @media (max-width: 1275px) {
    margin-left: 4rem;
  }
}
